Host jumphost
  HostName 3.228.9.147
  User ubuntu
  IdentityFile VPC-demo-key.pem
  PasswordAuthentication no
  ServerAliveInterval 60
  TCPKeepAlive yes
  ControlMaster auto
  ControlPath /tmp/ansible-%r@%h:%p
  ControlPersist 15m
  StrictHostKeyChecking no
  LogLevel QUIET

Host 10.0.*
  ProxyJump jumphost
  StrictHostKeyChecking no



